<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yikang.springboot.mapper.JobMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.yikang.springboot.entity.Job">
		<id column="id" property="id" />
		<result column="name" property="name" />
		<result column="joblevel_id" property="joblevelId" />
		<result column="comment" property="comment" />
		<result column="delflag" property="delflag" />
	</resultMap>
	
	<resultMap id="ViewResultMap" type="com.yikang.springboot.vo.JobVO">
		<id column="id" property="id" />
		<result column="name" property="name" />
		<result column="joblevel_id" property="joblevelId" />
		<result column="comment" property="comment" />
		<result column="delflag" property="delflag" />		
		<association property="joblevel" javaType="com.yikang.springboot.common.result.KeyValue">
			<result column="joblevel_id" property="key" />
			<result column="joblevel_name" property="value" />
		</association>
	</resultMap>
	
	<select id="getListViewList" resultMap="ViewResultMap">
		select 
			j.id, j.name, j.comment, j.delflag,
			l.id as joblevel_id, l.name as joblevel_name
		from job j left join joblevel l on j.joblevel_id = l.id
		where j.delflag = 0;
	</select>

</mapper>
