<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yikang.springboot.mapper.OperatorWorkdetailMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.yikang.springboot.entity.OperatorWorkdetail">
		<id column="id" property="id" />
		<result column="operator_id" property="operatorId" />
		<result column="seat_id" property="seatId" />
		<result column="starttime" property="starttime" />
		<result column="endtime" property="endtime" />
	</resultMap>

</mapper>
