<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yikang.springboot.mapper.OperatorWorkdetailMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.yikang.springboot.entity.OperatorWorkdetail">
		<id column="id" property="id" />
		<result column="operator_id" property="operatorId" />
		<result column="seat_id" property="seatId" />
		<result column="starttime" property="starttime" />
		<result column="endtime" property="endtime" />
	</resultMap>

	<resultMap id="DetailResultMap" type="com.yikang.springboot.vo.WorkDetailVo">
		<association property="operator" javaType="com.yikang.springboot.entity.Operator">
			<id column="wd_opid" property="id" />
			<result column="op_name" property="name"/>
			<result column="op_workid" property="workid"/>
		</association>
		<association property="workdetail" javaType="com.yikang.springboot.entity.OperatorWorkdetail">
			<id column="wd_id" property="id" />
			<result column="wd_starttime" property="starttime"/>
			<result column="wd_endtime" property="endtime"/>
		</association>
		<association property="seat" javaType="com.yikang.springboot.entity.Lineseat">
			<id column="st_id" property="id" />
			<result column="st_name" property="name"/>
		</association>
		<association property="job" javaType="com.yikang.springboot.entity.Job">
			<id column="st_jobid" property="id" />
		</association>
		<association property="line" javaType="com.yikang.springboot.entity.Line">
			<id column="line_id" property="id"/>
			<result column="ln_name" property="name"/>
		</association>
	</resultMap>

	<select id="queryWorkDetailList" resultMap="DetailResultMap" parameterType="com.yikang.springboot.qo.WorkDetailQO">
		SELECT
		op.`workid` as op_workid,
		op.`name` AS op_name,
		wd.`operator_id` AS wd_opid,
		wd.`starttime` AS wd_starttime,
		wd.`endtime` AS wd_endtime,
		wd.`id` AS wd_id,
		st.`name` AS st_name,
		line.`name` AS ln_name,
		st.`job_id` AS st_jobid,
		st.`id` AS st_id,
		line.`id` AS line_id
		FROM
		operator_workdetail wd
		JOIN lineseat st ON wd.seat_id = st.id
		JOIN line ON line.id = st.line_id
		JOIN operator op ON op.id = wd.operator_id
		WHERE
		1 = 1
		<if test="workid!=null and workid != ''">
			and op.workid like CONCAT('%',#{workid},'%')
		</if>
		<if test="opname!=null and opname != ''">
			and op.name like CONCAT('%',#{opname},'%')
		</if>
		<if test="startTime!=null">
			and wd.starttime &gt;= #{startTime}
		</if>
		<if test="endTime!=null">
			and wd.endTime &lt;= #{endTime}
		</if>
		<if test="lineId != null">
			and line.id = #{lineId}
		</if>
		<if test="seatId != null">
			and st.`id` = #{seatId}
		</if>
	</select>
	
	<resultMap id="WorkDetailSumMap" type="com.yikang.springboot.vo.WorkDetailSumDO">
		<result column="operator_name" property="employeeName" />
		<result column="workid" property="employeeId" />
		<result column="operator_id" property="operatorId" />
		<result column="joblevel_id" property="joblevelId" />
		<result column="sumsec" property="seumsec" />		
	</resultMap>
		
	<select id="queryPaymentByCondition" resultMap="WorkDetailSumMap">
		SELECT 
			o.`name` AS operator_name,
			o.`workid` AS workid,
			ow.`operator_id` AS operator_id, 
			job.`joblevel_id` AS joblevel_id,
			SUM(TIME_TO_SEC(TIMEDIFF(ow.endtime, ow.starttime))) AS sumsec
		FROM 
		operator_workdetail ow 
		LEFT JOIN operator o ON ow.`operator_id` = o.`id`
		LEFT JOIN lineseat ls ON ow.`seat_id` = ls.`id`
		LEFT JOIN job ON ls.`job_id` = job.`id`
		WHERE
		o.delflag = 0
		<if test="employeeId != null and employeeId != ''">
			AND o.workid like '%${employeeId}%'
		</if>
		<if test="employeeName != null and employeeName != ''">
			AND o.name like '%${employeeName}%'
		</if>
		<if test="beginTime!=null">
			AND ow.starttime &gt;= #{beginTime}
		</if>
		<if test="endTime!=null">
			AND ow.starttime &lt;= #{endTime}
		</if>		
		GROUP BY operator_id, joblevel_id
	</select>	
	
</mapper>
