<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yikang.springboot.mapper.ProductcodeMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.yikang.springboot.entity.Productcode">
		<id column="id" property="id" />
		<result column="workshop_id" property="workshopId" />
		<result column="productfamily_id" property="productfamilyId" />
		<result column="productcode" property="productcode" />
		<result column="target" property="target" />
		<result column="EU" property="eu" />
		<result column="comment" property="comment" />
		<result column="delflag" property="delflag" />
	</resultMap>
	
	<resultMap id="ViewResultMap" type="com.yikang.springboot.vo.ProductcodeVO">
		<id column="id" property="id" />
		<result column="workshop_id" property="workshopId" />
		<result column="productfamily_id" property="productfamilyId" />
		<result column="productcode" property="productcode" />
		<result column="target" property="target" />
		<result column="EU" property="eu" />
		<result column="comment" property="comment" />
		<result column="delflag" property="delflag" />
		<association property="workshop" javaType="com.yikang.springboot.common.result.KeyValue">
			<result column="workshop_id" property="key" />
			<result column="workshop_name" property="value" />
		</association>
		<association property="productfamily" javaType="com.yikang.springboot.common.result.KeyValue">
			<result column="productfamily_id" property="key" />
			<result column="productfamily_name" property="value" />
		</association>
	</resultMap>
	
	<select id="getListViewList" resultMap="ViewResultMap">
		select 
			p.id, p.productcode, p.target, p.comment, p.delflag, p.eu, 
			w.id as workshop_id, w.name as workshop_name,
			f.id as productfamily_id, f.name as productfamily_name
		from productcode p left join workshop w on p.workshop_id = w.id
		left join productfamily f on p.productfamily_id = f.id
		where p.delflag = 0;
	</select>

</mapper>
